  # Challenge

  ## Identifying Outliers using Standard Deviation

In [3]:
# initial imports
import pandas as pd
import numpy as np
import random
from sqlalchemy import create_engine

In [4]:
# create a connection to the database
engine = create_engine("postgresql://postgres:postgres@localhost:5432/Homework")

In [6]:
# checking connection
query = """
select * from transaction"""
pd.read_sql(query,engine)

        id                date  amount                 card  id_merchant
0      222 2018-01-01 21:35:10    6.22     3561954487988605           69
1     2045 2018-01-01 21:43:12    3.83     5135837688671496           85
2      395 2018-01-01 22:41:21    9.61      213193946980303           82
3     3309 2018-01-01 23:13:30   19.03     4263694062533017            5
4      567 2018-01-01 23:15:10    2.95        4498002758300           64
...    ...                 ...     ...                  ...          ...
3495  1979 2018-12-31 01:24:15    4.84  4723783028106084756          106
3496  2342 2018-12-31 03:33:28    3.26  4165305432349489280           64
3497   948 2018-12-31 05:53:58   10.73     5361779664174555           19
3498  1168 2018-12-31 08:22:17   11.87     4188164051171486           54
3499  2476 2018-12-31 09:50:25   19.75  4723783028106084756           16

[3500 rows x 5 columns]

In [ ]:
# code a function to identify outliers based on standard deviation

query.std()

In [ ]:
# find anomalous transactions for 3 random card holders

  ## Identifying Outliers Using Interquartile Range

In [ ]:
# code a function to identify outliers based on interquartile range

In [ ]:
# find anomalous transactions for 3 random card holders